.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: #5C5F5E;
  text-shadow: gray 0px 0px 10px;
}

.App-logo {
  height: 20vmin;
}

.nav-links {
  color: #483d8b;
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  display: inline;
  margin: 5%;
  text-shadow: purple 0px 0px 25px;
}

table {
  color: black;
  font-size: calc(6px + 2vmin);
  padding: 10px;
  table-layout: fixed;
  width: 100%;
}

th, td {
  border: 1px solid #021d4b;
  padding: 10px;
}

.Button {
  background-color: #C0C2C9;
  color: black;
  font-size: calc(6px + 1vmin);
  font-weight: bold;
}

.Card-div {
  border: 2px solid #021d4b;
}

.Cart {
  margin-top: 75px;
}

.Product-card {
box-shadow: 1px 1px 5px 3px grey;
}

.Login {
  text-align: center;
  background-color: white;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: #5C5F5E;
  text-shadow: gray 0px 0px 10px;
}